<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard </title>
    <meta http-equiv="Cache-Control" content="no-store,no-cache, must-revalidate" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="center">
  <a href="/logout" role="button" class="btn btn-danger">Deconnexion</a>
 </div>
 <br>
  <div class="alert alert-primary" role="alert">
      <h1><strong>Id d'utilisateur</strong>  <%= u_id %> </h1>
      <h4><strong>Nom</strong> <%= u_name %></h4>
      <h4><strong>Email</strong> <%= u_email %></h4>
    </div>
    <div class="row">
      <form method="POST" action="/addAnnnP" >
        <input type="hidden" value="<%= u_id %>" name="us_id">
        <input type="hidden" value="<%= u_name %>" name="us_name">
        <input type="hidden" value="<%= u_email %>" name="us_email">
        <input type="hidden" value="<%= u_typecompte %>" name="us_typecompte"> 
        <button type="submit" class="btn btn-success">Créer un post</button>
      </form> &nbsp;
      <a href="/agentmessagerie/<%= u_id %>" role="button" class="btn btn-info">Messagerie</a>
</div>
    <ul> 
      <h1>Mes annonces:</h1>
    <!-- ----------------------------------------------------------- -->
      <table class="table table-bordered" name="tableName">
          <tr>
              <th>Photo</th>
              <th>Titre</th>
              <th>Typpe de bien</th>
              <th>status de publiction</th>
              <th>status de transaction</th>
              <th>prix</th>
              <th>Date</th>
              <th>Description</th>
              <th>Action</th>
          </tr>
          <% listannonceuser.forEach(function (ann) { %> 
          <tr>
              <td><img  src="/images/aaaa.jpg" alt="Card image cap">image.buffer</td>
              <td><%= ann.titre %></td>
              <td><%= ann.typedebien %></td>
              <td><%= ann.statusPub %></td>
              <td><%= ann.statusTransaction %></td>
              <td><%= ann.prix %></td>
              <td><%= ann.date %></td>
              <td><%= ann.desc %></td>
              <td>
                  <a href="/updatepage/<%= ann._id %>" class="btn btn-primary" role="button">Modifier</a>
                  <a href="/deleteannonce/<%= ann._id %>/<%= ann.user.us_id %>" class="btn btn-primary" role="button">Supprimer</a>
              </td>
              <% }); %>
          </tr>
      </table>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
  </body>
</html>