<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <h1>Id d'utilisateur:  <%= u_id %> </h1>
    <ul>
      <%= u_name %> <%= u_email %> <%= u_typecompte %>
      <form method="POST" action="/addAnnnP">
            <input type="hidden" value="<%= u_id %>" name="us_id">
            <input type="hidden" value="<%= u_name %>" name="us_name">
            <input type="hidden" value="<%= u_email %>" name="us_email">
            <input type="hidden" value="<%= u_typecompte %>" name="us_typecompte"> 
            <button type="submit">crée un post</button>
      </form>
      <h1>Mes annonces:</h1>
      <% listannonceuser.forEach(function (ann) { %> 
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="aaaa.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= ann.titre %></h5>
            <p class="card-text"><%= ann.user.us_name %></p>
            <a href="#" class="btn btn-primary">Details</a>
        </div> 
      </div><br>
        <% }); %>
    </ul>
    <!-- ----------------------------------------------------------- -->
    <form method="post" action="/admin/viewusers">
      <table class="table table-bordered" name="tableName">
          <label>Show Table By:</label>
          <select name="viewTableBy" id="viewTableBy">
              <option value="all">All</option>
              <option value="recent">Recent</option>
              <option value="search_name">Search By Name</option>
              <option value="username">Search By Username</option>
          </select>
          <tr>
              <th>Photo</th>
              <th>Titre</th>
              <th>Typpe de bien</th>
              <th>status de publiction</th>
              <th>status de transaction</th>
              <th>prix</th>
              <th>Date</th>
              <th>Description</th>
              <th></th>
          </tr>
          <% listannonceuser.forEach(function (ann) { %> 
          <tr>
              <td><img class="card-img-top" src="<%= ann.titre %>" alt="Card image cap"></td>
              <td><%= ann.titre %></td>
              <td><%= ann.typedebien %></td>
              <td><%= ann.statusPub %></td>
              <td><%= ann.statusTransaction %></td>
              <td><%= ann.prix %></td>
              <td><%= ann.date %></td>
              <td><%= ann.desc %></td>
              <% }); %>
          </tr>
          <input type="text" name="text_input" id="text_input"> 
          <button type="submit" class="btn btn-default">Submit</button>
      </table>
  </form>
    <!-- ----------------------------------------------------------- -->
  </body>
</html>