<!DOCTYPE html>
<html>
  <head>
    <title>Acceuil </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div>
      <%= if(sess == ''){ %>
        <a role="button"  href="/logout" class="btn btn-outline-success" name="decobtn">Deconnexion</a>
        <a role="button" href="/login" class="btn btn-outline-success">Connexion</a>
        <a role="button" href="/singupuser" class="btn btn-outline-danger" name="singupbtn">Inscription</a>
        <%= }else{ %>
          <%= } %>
    </div>
  </head>
  <body>
    <h1>Annonce List  <%= sess %></h1>
      <%
        var list = '';
        for (i = 0; i < annoncelist.length; i++) {
          list += '<div class="card" style="width: 18rem;"><img class="card-img-top" src="#" alt="Card image cap"><div class="card-body"><h5 class="card-title">'+ annoncelist[i].titre +'</h5><p class="card-text">'+ annoncelist[i].desc +'</p><a href="#" class="btn btn-primary">Details</a></div></div> <br>';
        }
      %>
      <%- list %>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
