<h1><%= clientid %></h1>
<table class="table table-bordered" name="tableName">
        <tr>
            <th>Id d'annonce</th>
            <th>Id d'utilisateur</th>
            <th>Id d'agent</th>
            <th>Message</th>
            <th></th>
        </tr>
        <%_ result.forEach(function (result) { %> 
        <tr>
            <td><%= result.annonceid %></td>
            <td><%= result.userid %></td>
            <td><%= result.agentid %></td>
            <td><%= result.question %></td>
            <%_ }); %>
        </tr>
    </table>