<h1><%= clientid %></h1>
<table class="table table-bordered" name="tableName">
        <tr>
            <th>Id d'annonce</th>
            <th>Id d'utilisateur</th>
            <th>Id d'agent</th>
            <th>Message</th>
            <th></th>
        </tr>
        <% resu.forEach(function (result) { %> 
        <tr>
            <td><%= ann.annonceid %></td>
            <td><%= ann.userid %></td>
            <td><%= ann.agentid %></td>
            <td><%= ann.question %></td>
            <% }); %>
        </tr>
    </table>