<h1><%= result %></h1>
<table class="table table-bordered" name="tableName">
        <tr>
            <th>Id d'annonce</th>
            <th>prix</th>
            <th>Date</th>
            <th>Description</th>
            <th></th>
        </tr>
        <% result.forEach(function (ann) { %> 
        <tr>
            <td><%= ann.annonceid %></td>
            <td><%= ann.userid %></td>
            <td><%= ann.agentid %></td>
            <td><%= ann.question %></td>
            <% }); %>
        </tr>
    </table>