<!DOCTYPE html>
<html>
  <head>
    <title>Modifier annonce </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2 py-5">
                        <h1> <strong> <%= annonce.titre %> </strong></h1>
        
                        <p class="lead"><%= annonce.desc %></p>
        
        
                        <form id="contact-form" method="post" action="contact.php" role="form">
                                <input type="hidden" name="agentid" value="<%= annonce.user.us_id %>">
                                <input type="hidden" name="clientid" value="<%= client._id  %>">
        
                            <div class="messages"></div>
        
                            <div class="controls">
        
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_name">Agent  </label>
                                            <input id="agent" type="text" name="agent" class="form-control" value="<%= annonce.user.us_name %>" disabled="disabled"   >
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_lastname">ID d'annonce </label>
                                            <input id="idannonce" type="text" name="idannonce" class="form-control" value="<%= annonce._id %>" disabled="disabled" >
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_email">Objet</label>
                                            <input id="form_email" type="text" name="objet" class="form-control" placeholder="Objet *"  required="required" data-error="Valid Object is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_message">Message *</label>
                                            <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-success btn-send" value="Send message">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-muted">
                                            <strong>*</strong> These fields are required. Contact form template by
                                            <a href="https://bootstrapious.com/p/how-to-build-a-working-bootstrap-contact-form" target="_blank">Bootstrapious</a>.</p>
                                    </div>
                                </div>
                            </div>
        
                        </form>
        
                    </div>
                    <!-- /.8 -->
        
                </div>
                <!-- /.row-->
        
            </div>
            <!-- /.container-->
  </body>
</html>